<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="pageLayout">

<head>
    <title>editProfile</title>
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/profile/editProfile.css}">
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/user/editProfile.js}"></script>
</th:block>

<th:block layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}" th:object="${userEntity}">
    <div id="profile__container">
        <div class="edit__menu">
            <span>
                <a th:href="@{/user/editProfile}">프로필 편집</a>
            </span>
        </div>
        <div class="edit__group">
            <div class="profile__name">
                <span>
                    <img th:if="${edit.users_img == null}" class="wh30" th:src="@{/img/profile/defaultProfile.png}">
                    <img th:unless="${edit.users_img == null}" class="wh30" th:src="@{/pic/profile/{users_id}/{users_img}(users_id=${edit.users_id}, users_img=${edit.users_img})}">
                </span>
                <span class="text__nick" th:text="${edit.users_nickname}"></span>
            </div>
            <div class="box__email">
                <aside>
                    <label for="text__email">이메일</label>
                </aside>
                <div id="text__email" th:text="${edit.users_email}"></div>
            </div>
            <div class="box__name">
                <aside>
                    <label for="text__name">이름</label>
                </aside>
                <div id="text__name" th:text="${edit.users_name}"></div>
            </div>
            <div class="box__birth">
                <aside>
                    <label for="text__birth">생년월일</label>
                </aside>
                <div id="text__birth" th:text="${edit.users_date_birth}"></div>
            </div>
            <div>
                <form th:action="@{/user/editProfile}" method="post">
                    <div class="box__nickname">
                        <aside>
                            <label for="edit__nickname">닉네임</label>
                        </aside>
                        <div>
                            <input type="text" id="edit__nickname" th:value="${edit.users_nickname}" th:field="*{users_nickname}" >
                        </div>
                    </div>
                    <div class="box__gender">
                        <aside>
                            <label for="edit__gender">성별</label>
                        </aside>
                        <div id="edit__gender">
                            <label><input type="radio" th:field="*{users_gender}" value="0" checked>남자</label>
                            <label><input type="radio"th:field="*{users_gender}" value="1" >여자</label>
                            <label><input type="radio" th:field="*{users_gender}" value="2">비공개</label>
                        </div>
                    </div>
                    <div class="box__ctnt">
                        <aside>
                            <label for="edit__ctnt">소개</label>
                        </aside>
                        <div>
                            <textarea id="edit__ctnt" th:value="${edit.users_ctnt}" th:field="*{users_ctnt}" cols="30" rows="5" style="resize: none"></textarea>
                        </div>
                    </div>
                    <input type="submit" class="hide edit__input">
                </form>
            </div>
            <div>
                <span>가입일자</span>
                <span th:text="${edit.users_regdt}"></span>
            </div>
            <div>
                <input type="button" class="edit__push" value="제출"></input>
           </div>
        </div>
    </div>
</th:block>