<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="pageLayout">

<head>
    <title>mypage</title>
</head>
<th:block layout:fragment="js">
    <script defer th:src="@{/css/profile/mypage.css}"></script>
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/profile/mypage.js}"></script>
</th:block>

<th:block layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}">
    <img th:if="${auth.users_img == null}"  class="profileImg pointer" th:src="@{/img/profile/defaultProfile.png}">
    <img th:unless="${auth.users_img == null}" class="profileImg pointer" th:src="@{/pic/profile/{users_id}/{users_img}(users_id=${auth.users_id}, users_img=${auth.users_img})}">
    <div><input class="profileInput" type="file" accept="image/**" style="display: none"></div>
</th:block>

</html>