<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="pageLayout">

<head>
    <title>mypage</title>
</head>
<th:block layout:fragment="js">
    <script defer th:src="@{/css/profile/mypage.css}"></script>
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/profile/mypageImg.js}"></script>
    <script defer th:src="@{/js/profile/mypageFollow.js}"></script>
</th:block>

<th:block layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}">
    <span id="mypageConst" th:attr="data-uId = ${auth.users_id}, data-pId = ${profile.users_id}"></span>

    <!-- 프로필 사진 -->
    <img th:if="${auth.users_img == null}"  class="profileImg pointer" th:src="@{/img/profile/defaultProfile.png}">
    <img th:unless="${auth.users_img == null}" class="profileImg pointer" th:src="@{/pic/profile/{users_id}/{users_img}(users_id=${profile.users_id}, users_img=${profile.users_img})}">
    <input class="profileInput" type="file" accept="image/**" style="display: none">

    <div>${profile.users_nickname}</div>

    <div th:if="${auth.users_id eq profile.users_id}"><input type="button" value="프로필 편집"></div>
    <!---isMyFollower : 로그인유저의 팔로워인가, isYourFollower : 프로필유저의 팔로워인가 --->
    <div th:unless="${auth.users_id eq profile.users_id}">
        <th:block th:if="${profile.isMyFollower eq 1}">
            <th:block th:if="${profile.isYourFollower eq 1}"> <!--- 검정/팔로잉/취소/혼자--->
                <div id="btnFollow" data-follow="unfollow2"><i class="profile-icon bi bi-person-check-fill"></i></div>
            </th:block>
            <th:block th:unless="${profile.isYourFollower eq 1}"> <!--- 검정/혼자/추가/팔로잉--->
                <div id="btnFollow" data-follow="follow2"><i class="profile-icon bi bi-person-fill"></i></div>
            </th:block>
        </th:block>
        <th:block th:unless="${profile.isMyFollower eq 1}">
            <th:block th:if="${profile.isYourFollower eq 1}"> <!--- 하양/팔로잉/취소/혼자--->
                <div id="btnFollow" data-follow="unfollow1"><i class="profile-icon bi bi-person-check"></i></div>
            </th:block>
            <th:block th:unless="${profile.isYourFollower eq 1}"> <!--- 하양/혼자/추가/팔로잉--->
                <div id="btnFollow" data-follow="follow1"><i class="profile-icon bi bi-person"></i></div>
            </th:block>
        </th:block>
    </div>

    <div>
        <span>게시물 : ${profile.users_feed_count}</span>
        <span id="spnFollower">팔로워 : ${profile.users_follower_count}</span>
        <span id="spnFollow">팔로우 : ${profile.users_follow_count}</span>
    </div>
    <div>${profile.users_name}</div>
    <div>${profile.users_ctnt}</div>

</th:block>

</html>