<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.whygram.mapper.FeedMapper">
    <!-- 글, 사진 등록 -->
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feed_id">
        INSERT INTO feed
        (feed_ctnt, users_id)
        VALUES
        ( #{feed_ctnt}, ${users_id} )
    </insert>
    <insert id="insFeedImg">
        INSERT INTO contents
        (feed_id, contents_img)
        VALUES
        ( #{feed_id}, #{contents_img} )
    </insert>

    <!-- DB에 저장된 값 mapper interface로 전달 -->
    <select id="selFeedList" resultType="FeedDomain">
        SELECT
            A.feed_id, A.users_id, A.feed_ctnt, A.feed_regdt
            , B.contents_id, B.contents_img, B.contents_video
            , C.users_nickname AS writer, C.users_img
            FROM feed A
            LEFT JOIN contents B
            ON A.feed_id = B.feed_id
            INNER JOIN users C
            ON A.users_id = C.users_id
            ORDER BY A.feed_id DESC
    </select>






</mapper>