<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.whygram.mapper.ProfileMapper">
    <insert id="insFollow">
        INSERT INTO follow
            ( follow_hisFollower, follow_him )
        VALUES
            ( ${follow_hisFollower}, ${follow_him} )
    </insert>

    <!-- 프로필 수정 -->
    <update id="updUsers">
        UPDATE users
        <set>
            <if test="users_img != null and users_img != ''">
                users_img = #{users_img}
            </if>
            <if test="users_nickname != null and users_nickname != ''">
                users_nickname = #{users_nickname}
            </if>
            <if test="users_password != null and users_password != ''">
                users_password = #{users_password}
            </if>
            <if test="users_password != null and users_password != ''">
                users_gender = #{users_gender}
            </if>
            <if test="users_password != null and users_password != ''">
                users_ctnt = #{users_ctnt}
            </if>
        </set>
        WHERE users_id = #{users_id}
    </update>

    <!-- 이미지 띄우기 + 프로필 -->
    <select id="selUserProfile" resultType="UserDomain">
        SELECT U.users_id, U.users_name, U.users_nickname, U.users_img, U.users_ctnt,
               (SELECT COUNT(follow_him) FROM follow
                WHERE follow_hisFollower = ${hisFollower} AND follow_him = ${him})
                   AS isYourFollower,
               (SELECT COUNT(follow_him) FROM follow
                WHERE follow_hisFollower = ${him} AND follow_him = ${hisFollower})
                   AS isMyFollower
        FROM users U
        WHERE U.users_id = ${him}
    </select>

    <!-- 팔로워, 팔로우 리스트 -->
    <!--hisFollower : 나, him : 그사람-->
    <select id="selFollowerList" resultType="UserDomain">
        SELECT U.users_id, U.users_img, U.users_name, U.users_nickname,
        -- 그사람을 팔로우하는 사람들
        CASE WHEN W.follow_hisFollower IS NULL THEN 0 ELSE 1 END AS isYourFollower
        -- 그사람을 팔로우한 사람을 내가 팔로우 하는가 👉 W.hisFollower = 나 , W.him = 그사람을 팔로우하는 사람들
        FROM follow F
        -- F.follow_him = 그 사람 , F.hisFollower = 그사람을 팔로우하는 사람들을
        -- 설정(WHERE)해주기 위해서 FROM은 follow에서
        INNER JOIN  users U
        -- 그사람을 팔로우하는 사람들을 구하기 위해 INNER JOIN
        ON  F.follow_hisFollower=U.users_id
        -- F.follow_him = 그 사람 , F.hisFollower = 그사람을 팔로우하는 사람들 = U.users_id = W.him
        LEFT JOIN follow W
        -- 그사람을 팔로우하는 사람들을 내가 팔로우 하는지 구하기 위해 LEFT JOIN
        ON W.follow_him = F.follow_hisFollower AND W.follow_hisFollower=${follow_hisFollower}
        WHERE  F.follow_him = ${follow_him}
    </select>

    <!--hisFollower : 그사람, him : 나-->
    <select id="selFollowList" resultType="UserDomain">
        SELECT U.users_id, U.users_img, U.users_name, U.users_nickname,
        CASE WHEN W.follow_hisFollower IS NULL THEN 0 ELSE 1 END AS isYourFollower
        FROM follow F
        -- 그 사람이 팔로우 하는 사람들 = F.him , 그사람 = F.hisFollower
        -- 설정(WHERE)해주기 위해서 FROM은 follow에서
        INNER JOIN users U
        -- U.users_id = F.him = 그 사람이 팔로우하는 사람들
        ON F.follow_him=U.users_id
        LEFT JOIN follow W
        -- 그 사람이 팔로우하는 사람들을 내가 팔로우 하는지
        -- 👉 W.him = F.him = U.users_id , W.hisFollower = 나
        ON W.follow_him=F.follow_him AND W.follow_hisFollower=${follow_him}
        WHERE F.follow_hisFollower=${follow_hisFollower}
    </select>

    <resultMap id="FeedDomainMap" type="FeedDomain">
        <result property="feed_id" column="feed_id"></result>
        <association property="contents" column="feed_id" select="selContents"></association>
    </resultMap>

    <select id="selContents" resultType="ContentsEntity">
        SELECT contents_id, contents_img
        FROM contents
        WHERE feed_id = ${feed_id}
            LIMIT 1
    </select>

    <select id="selMypageList" resultMap="FeedDomainMap">
        SELECT
        A.feed_id, IFNULL(B.cnt, 0) AS favCnt, IFNULL(D.cnt, 0) AS cmtCnt
        <if test="user4FavCmt > 0">
            , CASE WHEN E.feed_id IS NULL THEN 0 ELSE 1 END AS isFav
            , CASE WHEN F.feed_id IS NULL THEN 0 ELSE 1 END AS isCmt
        </if>
        FROM feed A
        LEFT JOIN (
        SELECT feed_id, COUNT(feed_id) AS cnt
        FROM feed_fav
        GROUP BY feed_id
        ) B
        ON A.feed_id = B.feed_id
        LEFT JOIN (
        SELECT feed_id, COUNT(feed_id) AS cnt
        FROM cmt
        GROUP BY feed_id
        ) D
        ON A.feed_id = D.feed_id
        <if test="user4FavCmt > 0">
            LEFT JOIN feed_fav E
            ON E.users_id = ${user4FavCmt} AND A.feed_id = E.feed_id
            LEFT JOIN cmt F
            ON F.users_id = ${user4FavCmt} AND A.feed_id = F.feed_id
        </if>
        WHERE A.users_id = ${mypage_id}
        ORDER BY A.feed_id DESC
        LIMIT ${startIdx} , ${limit}
    </select>

    <resultMap id="mypageDetailMap" type="FeedDomain">
        <result property="feed_id" column="feed_id"></result>
        <collection property="contentsList" column="feed_id" select="selContentsList"></collection>
    </resultMap>

    <select id="selContentsList" resultType="ContentsEntity">
        SELECT contents_id, feed_id, contents_img
        FROM contents
        WHERE feed_id = ${feed_id}
    </select>

    <select id="selMypageDetail" resultMap="mypageDetailMap">
        SELECT A.feed_id, A.users_id, A.feed_ctnt, A.feed_regdt
             , B.users_nickname, B.users_img
             , (SELECT COUNT(C.users_id) FROM feed_fav C WHERE C.feed_id = ${feed_id}) AS favCnt
             , (SELECT COUNT(D.cmt_id) FROM cmt D WHERE D.feed_id = ${feed_id}) AS cmtCnt
        FROM feed A
        LEFT JOIN  users B
        ON A.users_id = B.users_id
        WHERE A.users_id = ${mypage_id} AND A.feed_id = ${feed_id}
    </select>

    <select id="selCmtList" resultType="CmtDomain">
        SELECT A.cmt_id, A.feed_id, A.users_id, A.cmt_cmt, A.cmt_regdt
             , B.users_img, B.users_nickname
            <if test="user4FavCmt > 0">
            , CASE WHEN COUNT(C.users_id) IS NULL THEN 0 END AS cmtFavCnt
            , CASE WHEN D.users_id IS NULL THEN 0 ELSE 1 END AS isCmtFav
            </if>
        FROM cmt A
        LEFT JOIN users B
        ON A.users_id = B.users_id
        <if test="user4FavCmt > 0">
        LEFT JOIN cmt_fav C
        ON C.cmt_id = A.cmt_id AND C.feed_id = A.feed_id
        LEFT JOIN cmt_fav D
        ON D.cmt_id = A.cmt_id AND D.feed_id = A.feed_id AND D.users_id = ${user4FavCmt}
        </if>
        WHERE A.feed_id = ${feed_id}
        ORDER BY A.feed_id DESC
        LIMIT ${startIdx} , ${limit}
    </select>

    <!-- 프로필 이미지 변경 -->
    <update id="updUserImg">
        UPDATE users
        SET users_img = #{users_img}
        WHERE users_id = #{users_id}
    </update>

    <delete id="delFollow">
        DELETE FROM follow
        WHERE follow_hisFollower = ${follow_hisFollower}
          AND  follow_him = ${follow_him}
    </delete>
</mapper>