<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.whygram.mapper.ProfileMapper">
    <!-- 프로필 수정 -->
    <update id="updUsers">
        UPDATE users
        <set>
            <if test="users_img != null and users_img != ''">
                users_img = #{users_img}
            </if>
            <if test="users_nickname != null and users_nickname != ''">
                users_nickname = #{users_nickname}
            </if>
            <if test="users_password != null and users_password != ''">
                users_password = #{users_password}
            </if>
            <if test="users_password != null and users_password != ''">
                users_gender = #{users_gender}
            </if>
            <if test="users_password != null and users_password != ''">
                users_ctnt = #{users_ctnt}
            </if>
        </set>
        WHERE users_id = #{users_id}
    </update>

    <!-- 이미지 띄우기 + 프로필 -->
    <select id="selUserProfile" resultType="UserDomain">
        SELECT U.users_id, U.users_name, U.users_nickname, U.users_img, U.users_ctnt,
               U.users_feed_count, U.users_follower_count, U.users_follow_count,
               (SELECT COUNT(follow_him) FROM follow
                WHERE follow_hisFollower = ${hisFollower} AND follow_him = ${him})
                   AS isYourFollower,
               (SELECT COUNT(follow_him) FROM follow
                WHERE follow_hisFollower = ${him} AND follow_him = ${hisFollower})
                   AS isMyFollower
        FROM users U
        WHERE U.users_id = ${him}
    </select>

    <!-- 프로필 이미지 변경 -->
    <update id="updUserImg">
        UPDATE users
        SET users_img = #{users_img}
        WHERE users_id = #{users_id}
    </update>
</mapper>