<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">



    <div th:text="${errMsg}"></div>

    <form th:action="@{join}" method="post" th:object="${userEntity}" id="joinFrm">
        <div><input type="email" th:field="*{users_email}" placeholder="이메일" id="email" autofocus required></div>
        <div><input type="text" th:field="*{users_name}" placeholder="이름" id="nm" required></div>
        <div>
            <label>남자 : <input type="radio" th:field="*{users_gender}" value="0" checked></label>
            <label>여자 : <input type="radio"th:field="*{users_gender}" value="1" ></label>
            <label>밝히고 싶지 않음 : <input type="radio" th:field="*{users_gender}" value="2"></label>
        </div>
        <div><input type="text" th:field="*{users_date_birth}" placeholder="생년월일" id="birthDt" required></div>
        <div><input type="text" th:field="*{users_nickname}" placeholder="닉네임" id="nickNm" required></div>
        <div><input type="password" th:field="*{users_password}" placeholder="비밀번호" id="pw" required></div>
        <div><input type="password" name="pwchk" placeholder="비밀번호 확인" id="pw2" required></div>
        <div>
            <input id="joinBtn" type="submit" value="회원가입">
        </div>
    </form>

    <!--
    <script defer th:src="@{/js/user/join.js}"></script>
    -->
</html>