<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div th:with="auth=${#authentication.getPrincipal().getUser()}">
        <nav class="navbar__container">
            <div>
                <a th:href="@{/feed/home}">
                    <img class="mainLogo" th:src="@{/img/logo/logo.jpg}">
                </a>
            </div>
            <ul class="navbar__menu">
                <li>
                    <a th:href="@{/profile/mypage}">
                        <img th:if="${auth.users_img == null}"  class="pointer rem_wh3" th:src="@{/img/profile/defaultProfile.png}">
                        <img th:unless="${auth.users_img == null}" class="pointer rem_wh3 profileRadius" th:src="@{/pic/profile/{users_id}/{users_img}(users_id=${auth.users_id}, users_img=${auth.users_img})}">
                    </a>
                </li>
                <li>
                    <a th:href="@{/feed/home}">
                        <i class="header-icon bi bi-house-fill iconPad"></i>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/logout}" class="logout">
                        <i class="header-icon bi bi-door-closed-fill"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</html>