<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <nav>
        <span class="siteLogo">
            <i class="fab fa-instagram-square fa-4x"></i>
            왜그램
            Whygram

        </span>
        <span class="header__right">
            <div class="right__icon">
                <a th:href="@{/feed/home}">
                <i class="fas fa-home fa-2x"></i>
            </a>
            <a th:href="@{/templates/profile/mypage}">
                <i class="fas fa-user fa-2x"></i>
            </a>
            </div>
        </span>
        <li><a th:href="@{/user/logout}">로그아웃</a></li>
    </nav>
</header>
</html>