<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>WHYGRAM - start page</title>
</head>
<body>
    <h1>WHYGRAM 로고</h1>

    <section>
        <p> 왜 그램? <br>  무슨 일이램? <br>  너의 일상이야기를 보여줄램~?! </p>
    </section>

    <section>
        <a>로그인</a>  |  <a>회원가입</a>
    </section>

    <section>
        <form action="" id="loginForm">
        </form>
        <div><a>비밀번호 찾기</a></div>

        <form action="" id="joinForm"></form>
    </section>
</body>
</html>