<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="pageLayout">

<head>
    <title>home</title>
</head>

<th:block layout:fragment="css">
    <script defer th:src="@{/css/feed/home.css}"></script>
    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</th:block>

<th:block layout:fragment="js">
    <script defer th:src="@{/js/feed/home.js}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</th:block>

<th:block layout:fragment="content" th:object="${feedEntity}">
    <!-- Button trigger modal -->
    <div class="btn text-center" data-bs-toggle="modal" data-target="#myModal" data-bs-target="#staticBackdrop">
        <i class="bi bi-plus-circle pointer" style="font-size: 2rem;"></i>
    </div>

    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="feedImg pointer" th:src="@{/img/feed/feedDefaultImg.png}">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <!-- <img th:unless="${auth.users_img == null}" class="feedImg pointer" src="@{/pic/feed/{feed_id}/{feed_img}(users_id=${auth.users_id}, users_img=${auth.users_img})}">-->
                        <div id="displayImgList"></div>
                    </div>
                    <div><input class="feedSelectImg" name="contents_img" type="file" multiple accept="image/**" style="display: none"></div>
                    <textarea class="feedCtnt form-control" aria-label="With textarea" th:field="*{feed_ctnt}" rows="5" style="resize: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary feedInputBtn">글등록</button>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>