<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="pageLayout">

<head>
    <title>mypage</title>
</head>
<th:block layout:fragment="content">
    <h1>mypage</h1>
</th:block>
<!--
<th:block layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser}">
    <div th:attr="data-iuser=${profile.iuser}"></div>
    <form th:if="${auth.iuser eq profile.iuser}" th:action="profileImg" method="post" enctype="multipart/form-data">
        <input type="file" name="users_img" multiple accept="image/**">
        <input type="submit" value="업로드">
    </form>
</th:block>
-->
</html>