.profileImg { border-radius: 50%; }

#profile__form {
    display: flex;
    padding: 80px 400px;
}
#profile__form > .board__form {
    padding: 10px 60px;
}
#profile__form > .board__form > .div__name {
    padding: 3px;
}
#profile__form > .board__form > .div__nickname {
    padding: 3px;
}
#profile__form > .board__form > .div__board {
    padding: 3px;
}
#profile__form > .board__form > .div__follower {
    padding: 3px;
}
#profile__form > .board__form > .div__follow {
    padding: 3px;
}

.mypageImg {
    object-fit: contain;
    background-color: lightsteelblue;
}

#cntBtn { margin-left: 1rem; }

