.profileImg { border-radius: 50%; }

#profile__form {
    display: flex;
    padding: 80px 400px;
}
#profile__form > .board__form {
    padding: 10px 60px;
}
#profile__form > .board__form > .div__name {
    padding: 3px;
}
#profile__form > .board__form > .div__nickname {
    padding: 3px;
}
#profile__form > .board__form > .div__board {
    padding: 3px;
}
#profile__form > .board__form > .div__follower {
    padding: 3px;
}
#profile__form > .board__form > .div__follow {
    padding: 3px;
}

.mypageImg {
    object-fit: contain;
    background-color: lightsteelblue;
}
.container { padding: 80px }
#cntBtn { margin-left: 36px; }
.menu { text-align: center; }
.menu > span > a { text-decoration: none; color: black; margin: 0px 120px }
.pointer:hover {
    text-decoration: underline;
    text-decoration-color : #0d6efd;
    text-underline-position: under;
}

.edit__btn {
    margin: 0px 20px;
    border-radius: 5px;
    background-color: #0d6efd;

}

.edit__btn > a { color: #fff; text-decoration: none; }